-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontpreverify
-dontnote
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*

-dontwarn org.apache.http.client.**
-dontwarn com.thoughtworks.xstream.**
-dontwarn org.eclipse.persistence.javax.persistence.osgi.**
-dontwarn javax.mail.**
-dontwarn javax.naming.**
-dontwarn si.majeric.smarthouse.cron.**
-dontwarn org.xmlpull.v1.**
-dontwarn org.apache.commons.codec.**
-dontwarn javax.persistence.spi.**
-dontwarn com.pushwoosh.**

# TODO Eliminate "library class android.net.http.AndroidHttpClient extends or implements program class org.apache.http.client.HttpClient" issue
# -libraryjars /home/uros/.m2/repository/org/apache/httpcomponents/httpclient/4.0.1/httpclient-4.0.1.jar

-keep public class * extends android.app.Activity
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService

# OrmLite uses reflection
-keep class com.j256.**
-keepclassmembers class com.j256.** { *; }
-keep enum com.j256.**
-keepclassmembers enum com.j256.** { *; }
-keep interface com.j256.**
-keepclassmembers interface com.j256.** { *; }

#Keep annotations
-keepattributes *Annotation*

# -keep class si.Backup { *; } 

#PUBLIC DOMAIN
-keep class si.majeric.** { *; }
-keep class javax.** { *; }
-keep class org.** { *; }
-keep class com.android.vending.billing.** { *; }
-keep class com.thoughtworks.** { *; }
-keep class android.support.** { *; }
-keep class org.apache.http.client.** { *; }
-keep class ch.qos.logback.** { *; }

-keepclasseswithmembernames class * {
    native <methods>;
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}

-keepclasseswithmembers class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}

-keepclassmembers class * extends android.app.Activity {
   public void *(android.view.View);
}

-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}

# adding this in to preserve line numbers so that the stack traces
# can be remapped
-renamesourcefileattribute SourceFile
-keepattributes SourceFile,LineNumberTable



